{% extends 'base.html.twig' %}

{% block body %}


    <div class="container mt-4">



    </div>



    <div class="container theme-showcase" role="main">

        <div class="jumbotron">
            <div class="text-right">
                {% if user.id  %}
                    <a href="{{ path('user_show', {id: app.user.id, slug: app.user.slug}) }}" class="btn btn-info btn-sm">VIEW</a>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-sm-4 dropdown-menu-sm-left">
                    {#{{ include('Admin/CB/cbleftmenu.html.twig') }}#}
                </div>

                <div class="col-sm-8">

            {{ include('Admin/User/_formuser.html.twig', {form: form, button: 'Save'}) }}
        </div>
    </div>
</div>
</div>











{% endblock %}



