{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        {#<div class="col-sm-4 dropdown-menu-sm-left">#}
            {#{{ include('security/login.html.twig') }}#}
        {#</div>#}

    </div>
{% endblock %}