{% extends 'base.html.twig' %}

{% block body %}


    <div class="container mt-4">
        <h2> Edit Certification Body</h2>

        {{ include('Admin/Audit/_formaudit.html.twig', {form: form, button: 'Save'}) }}


    </div>

{% endblock %}



