{% extends 'base.html.twig' %}

{% block body %}


    <div class="container mt-4">

        {{ include('Admin/Certificate/_formcert.html.twig', {form: form, button: 'Save'}) }}


    </div>

{% endblock %}



