{% extends 'base.html.twig' %}

{% block body %}



<div class="container mt-4">



</div>



<div class="container theme-showcase" role="main">

    <div class="jumbotron">
        <div class="text-right">

            {% if certs.id  %}
                <a href="{{ path('cert.show', {id: certs.id, slug: certs.slug}) }}" class="btn btn-info btn-sm">VIEW</a>
            {% endif %}

        </div>
        <div class="row">

            {% if certs.id  %}

            <div class="col-sm-4 dropdown-menu-sm-left">
                {{ include('Admin/Audit/auditleftmenu.html.twig') }}
            </div>
            {% endif %}

            <div class="col-sm-8">

        {{ include('Admin/Certificate/_formcert.html.twig', {form: form, button: 'Save'}) }}


            </div>
        </div>
    </div>
</div>


{% endblock %}



