{% block body %}

    {#<div class="jumbotron jumbotron-fluid">#}


    <div id="list-example" class="list-group">
    <div class="text-center">

        {#<div class="container mt-4 bg-white">#}
        {#<nav class="nav flex-column">#}
        <a class="list-group-item list-group-item-action" href="{{ path('cb.show', {id: cb.id, slug: cb.slug}) }}">Certification
            Body Profile</a>
        <a class="list-group-item list-group-item-action" href="{{ path('cb.organisations', {name: cb.name }) }}">Organisations</a>
        <a class="list-group-item list-group-item-action" href="#">Auditors</a>

        {#</nav>#}
    </div>
    </div>





{% endblock %}