{% extends 'base.html.twig' %}

{% block body %}


    <div class="container mt-4">



    </div>


    <div class="container theme-showcase" role="main">

        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-4 dropdown-menu-sm-left">
                    {#{{ include('Admin/CB/cbleftmenu.html.twig') }}#}
                </div>

                <div class="col-sm-8">
                    <h2>  Certification Body</h2>

                    {{ include('Admin/CB/_formcb.html.twig', {form: form, button: 'Save'}) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}



