{% extends 'base.html.twig' %}

{% block body %}


    <div class="container mt-4">



    </div>


    <div class="container theme-showcase" role="main">

        <div class="jumbotron">
            <div class="text-right">
                {% if cb.id  %}
                <a href="{{ path('cb.show', {id: cb.id, slug: cb.slug}) }}" class="btn btn-info btn-sm">VIEW</a>
                {% endif %}
            </div>
            <div class="row">
                {% if cb.id  %}
                <div class="col-sm-4 dropdown-menu-sm-left">
                    {{ include('Admin/CB/cbleftmenu.html.twig') }}
                </div>
                {% endif %}

                <div class="col-sm-8">

                    {{ include('Admin/CB/_formcb.html.twig', {form: form, button: 'Save'}) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}



