{% extends 'base.html.twig' %}

{% block body %}


    <div class="container mt-4">



    </div>



    <div class="container theme-showcase" role="main">

        <div class="jumbotron">
            <div class="text-right">
                {% if generalimp.id  %}
                    <a href="{{ path('genimp_show', {id: generalimp.id, slug: generalimp.slug}) }}" class="btn btn-info btn-sm">VIEW</a>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-sm-4 dropdown-menu-sm-left">
                    {% if generalimp.id  %}

                    {{ include('Admin/Audit/auditleftmenu.html.twig') }}
                    {% endif %}
                </div>

                <div class="col-sm-8">

            {{ include('Admin/GeneralImp/_formgenralimp.html.twig', {form: form, button: 'Save'}) }}
        </div>
    </div>
</div>
</div>











{% endblock %}



