{% block body %}

    <div id="list-example" class="list-group">

        <a class="list-group-item list-group-item-action" href="{{ path('org.show', {id: org.id, slug: org.slug}) }}">Organisation
            Profile</a>
        <a class="list-group-item list-group-item-action" href="{{ path('audits_org2', {name: org.name}) }}">Audits</a>

        <a class="list-group-item list-group-item-action" href="{{ path('Certs_org', {name: org.name}) }}">Certificates</a>
    </div>

{% endblock %}